@import 'tailwindcss';

:root {
	--accent-brown: #b29e84;
	--bg-sand-light: #fff5eb;
	--bg-sand-dark: #ebe0d5;
	--bg-dark: #1f1b16;
	--white: #fff5eb;
	--white_20: rgba(255, 245, 235, 0.2);
	--black: #0d0a08;

	--body-font-size: 16px;
	--section-spacing: 12.5rem;
	--section-spacing--md: 8.75rem;
	--section-spacing--sm: 6.25rem;

	--header-z-index: 1000;
}

html,
body {
	background-color: transparent;
}

body {
	font-family: 'Satoshi';
	font-weight: 500;
	font-size: var(--body-font-size);
}

/**
 * MOBILE
 */
.padding-block {
	padding-block: var(--section-spacing--sm);
}

.padding-block--start {
	padding-block-start: var(--section-spacing--sm);
}

.padding-block--end {
	padding-block-end: var(--section-spacing--sm);
}

/**
 * TABLET
*/
@media screen and (min-width: 768px) {
	.padding-block {
		padding-block: var(--section-spacing--md);
	}

	.padding-block--start {
		padding-block-start: var(--section-spacing--md);
	}

	.padding-block--end {
		padding-block-end: var(--section-spacing--md);
	}
}

/**
 * DESKTOP
*/
@media screen and (min-width: 1200px) {
	.padding-block {
		padding-block: var(--section-spacing);
	}

	.padding-block--start {
		padding-block-start: var(--section-spacing);
	}

	.padding-block--end {
		padding-block-end: var(--section-spacing);
	}
}
