@import 'tailwindcss';

:root {
	--accent-brown: #b29e84;
	--bg-sand-light: #fff5eb;
	--bg-sand-dark: #ebe0d5;
	--bg-dark: #1f1b16;
	--white: #fff5eb;
	--white_20: rgba(255, 245, 235, 0.2);
	--black: #0d0a08;

	--body-font-size: 16px;
	--section-spacing: 12.5rem;
	--section-spacing--md: 8.75rem;
	--section-spacing--sm: 6.25rem;

	--header-z-index: 1000;
}

@utility container {
	max-width: 2000px;
	margin-inline: auto;
	padding-inline: 0.75rem;
}

html,
body {
	background-color: var(--white);
}

body {
	font-family: 'Satoshi';
	font-weight: 500;
	font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4,
h5{
	letter-spacing: -1px;
}

.bg-dark {
	background: var(--bg-dark);
}

/**
 * MOBILE
 */
.block-spacing {
	padding-block: var(--section-spacing--sm);
}

.block-spacing--start {
	padding-block-start: var(--section-spacing--sm);
}

.block-spacing--end {
	padding-block-end: var(--section-spacing--sm);
}

.block-spacing--sm {
	padding-block: calc(var(--section-spacing--sm) / 2);
}

.block-spacing--sm--start {
	padding-block-start: calc(var(--section-spacing--sm) / 2);
}

.block-spacing--sm--end {
	padding-block-end: calc(var(--section-spacing--sm) / 2);
}

/**
 * TABLET
*/
@media screen and (min-width: 768px) {
	.block-spacing {
		padding-block: var(--section-spacing--md);
	}

	.block-spacing--start {
		padding-block-start: var(--section-spacing--md);
	}

	.block-spacing--end {
		padding-block-end: var(--section-spacing--md);
	}

	.block-spacing--sm {
		padding-block: calc(var(--section-spacing--md) / 2);
	}

	.block-spacing--sm--start {
		padding-block-start: calc(var(--section-spacing--md) / 2);
	}

	.block-spacing--sm--end {
		padding-block-end: calc(var(--section-spacing--md) / 2);
	}
}

/**
 * DESKTOP
*/
@media screen and (min-width: 1200px) {
	.block-spacing {
		padding-block: var(--section-spacing);
	}

	.block-spacing--start {
		padding-block-start: var(--section-spacing);
	}

	.block-spacing--end {
		padding-block-end: var(--section-spacing);
	}

	.block-spacing--sm {
		padding-block: calc(var(--section-spacing) / 2);
	}

	.block-spacing--sm--start {
		padding-block-start: calc(var(--section-spacing) / 2);
	}

	.block-spacing--sm--end {
		padding-block-end: calc(var(--section-spacing) / 2);
	}
}

/* Button */
.btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	width: fit-content;

	padding-block: 0.625rem;
	padding-inline: 1.75rem;
}

.btn__icon {
	font-size: 1.5rem;
}

.btn--primary {
	background: var(--accent-brown);
	color: var(--bg-sand-light);
}
